* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    margin: 0;
}
.header{
    /*height: 50px;*/
    overflow: hidden;

}
.home {
    height: 700px;
    background: url("../img/melburn_avstraliya_neboskreby_noch_vid_sverkhu_118543_3840x2160.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.logoTest {
    display: inline-block;
}
.container {
    width: 100%;
    text-align: center;
}
.nav {
    list-style: none;
    float: right;
    margin-right: 50px;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.nav__item {
    float: left;
    margin-left: 10px;
    padding: 15px 0;
}
.footer {
    height: 50px;
    background-color: white;
}
.footer .footer__text {
    float: right;
    margin-right: 40px;
}
.info {
    height: 250px;
    padding-top: 300px;
}
.logo{
    height: 35px;
    margin-left: 50px;
    margin-top: 7px;
}
.info__main-text {
    margin: 0;
    color: white;
    font-size: 35px;
}
.button-decoration {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 4px;
}
.button-link {
    text-decoration: none;
    color: white;
}
.info__button--our-works {
    background-color: firebrick;
}
.info__button--our-services {
    background-color: seagreen;
}
.info__button--our-works:hover {
    background-color: darkred;
}
.info__button--our-services:hover {
    background-color: darkgreen;
}
.menu {
    margin: auto;
}
.menu__item {
    width: 220px;
    display: inline-block;
}
.menu>.menu__item>.menu__item-paragraph {
    width: 180px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.menu__item--image {
    width: 180px;
    height: auto;
    margin: 10px;
}
.menu__item--image:hover {
    width: 200px;
    height: auto;
    margin: 0;
}
.menu__title {
    margin-top: 100px;
    margin-bottom: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}